
            <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

                <servers>
                    <server>
                        <id>api</id>
                        <username>martinsecchi</username>
                        <password>${env.GITHUB_TOKEN}</password>
                    </server>
                </servers>

                <profiles>
                    <profile>
                        <id>api</id>
                        <repositories>
                            <repository>
                                <id>api</id>
                                <url>https://maven.pkg.github.com/martinsecchi/api</url>
                                <releases>
                                    <enabled>true</enabled>
                                </releases>
                                <snapshots>
                                    <enabled>true</enabled>
                                </snapshots>
                            </repository>
                        </repositories>
                        <pluginRepositories>
                            <pluginRepository>
                                <id>api</id>
                                <url>https://maven.pkg.github.com/martinsecchi/api</url>
                                <releases>
                                    <enabled>true</enabled>
                                </releases>
                                <snapshots>
                                    <enabled>true</enabled>
                                </snapshots>
                            </pluginRepository>
                        </pluginRepositories>
                    </profile>
                </profiles>

                <!-- Activa el perfil de GitHub automáticamente -->
                <activeProfiles>
                    <activeProfile>api</activeProfile>
                </activeProfiles>
            </settings>
